.course_box
{
    display: flex;
    width: 100%;
    padding: 80px 30px;
}

.course_video_box
{
    width: 60%;
    padding: 5px 20px;
}
.course_theme_lists
{
    width: 40%;
    overflow: hidden;
    padding: 10px 0;
}


.course_video_box .course_video
{
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
    box-shadow: -6px 51px 72px 50px #1da0f234;
    border-radius: 20px;
    overflow: hidden;
}

.course_video_box .course_video iframe
{
    width: 100%;
    height: 100%;
}

.course_comments
{
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.course_comments input
{
    width: 95%;
    height: 100%;
    padding: 15px;
    border: 0;
    outline: none;
}

.course_comments a svg
{
    font-size: 1.6em;
    position: absolute;
    right: 15px;
    top: 50%;
    color: #1da1f2;
    transform: translateY(-50%);
}





.acc
{
    width: 100%;
    max-height: auto;
    color: #fff;
    /* background: #1da1f2; */
    border-radius:4px;
    margin-bottom: 5px;
    overflow: hidden;
}


.acc_txt
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffffbe;
    padding: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

.acc_inst
{
    max-height: 0;
    padding: 0;
    font-size: 1.2em;
}

.acc_inst
{

}

.acc_inst.active
{
    height: auto;
    max-height: 9999px;
    padding: 12px;
}


.acc_inst p
{
    display: flex;
    align-items: center;
    border: 1px solid #eeeeee69;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #ffffff47;
    transition: .5s;
}

.acc_inst p:hover
{
    background: #fff;
    color: #000;
}

.acc_inst p svg
{   
    margin-right: 5px;
}





























@media (max-width: 1150px) {

    .course_box
    {
        padding: 70px 10px 10px;
    }

}

@media (max-width: 950px) {

    .course_box
    {
        flex-direction: column;
    }

    .course_video_box
    {
        width: 80%;
        margin: 0 auto;
    }

    .course_theme_lists
    {
        width: 80%;
        margin-top: 20px !important;
        margin: 0 auto;
    }
}

.pdf_reader
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #fff !important;
    display: none;
}

.pdf_reader.active
{
    display: block;
}



.pdf_reader iframe
{
    width: 100%;
    height: 100%;
}

.close_btn_pdf_reader
{
    position: absolute;
    right: 50px;
    top: 50px;
    background: #fff;
    font-size: 2em;
    padding: 5px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 5px #000000;
    cursor: pointer;
}























@media (max-width: 750px) {

    .course_video_box
    {
        width: 90%;
        margin: 0 auto;
    }

    .course_theme_lists
    {
        width: 90%;
    }
}


@media (max-width: 620px) {
    .course_video_box
    {
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }

    .course_video
    {
        height: 40vh !important;
    }

    .course_theme_lists
    {
        width: 100%;
    }
}