.main_page
{
    height: 100vh;
    width: 100%;
    background: url(../../imgs/mainp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden !important;
    position: relative;
}





.main_txt.active
{
    transition: .5s;
    /* transform: translateY(-30%) scale(0); */
    left: 0;
}

.main_txt button
{
    width: 180px;
    padding: 8px;
    font-size: 1.2em;
    border-radius: 50px;
    border: none;
    outline: none;
    background: coral;
    color: #fff;
    margin: 30px 0 10px;
}

.main_txt h1
{
    font-size: 2.7em;
}

.main_txt h2
{
    font-weight: 400;
}

.main_txt a
{
    color: #fff;
}

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


.about_video
{
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_video iframe
{
    border-radius: 10px;
}



/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */



.about_menu
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #fff;
}

.links
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 70px;
    width: 80%;
    height: 80%;
}

.links div
{
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #d4d1d1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    padding: 50px 10px;
}


.links div svg
{
    font-size: 5em;
    color: rgb(14, 140, 250);
}
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


.hamkorlar
{
    width: 100%;
    height: auto;
    background: #fff;
    text-align: center;
    padding: 50px 30px;
}

.logos
{
    width: 100%;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos img
{
    width: 200px;
    height: 200px;
    object-fit: contain;
}




/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */



.team
{
    height: auto;
    background: #fff;
    padding: 30px;
    text-align: center;
}

.team h1
{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 2em;
}


.team_box
{
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding: 10px;
    gap: 40px;
    height: auto;
    font-weight: 500;
}



.team_box .w_img
{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    box-shadow: 0 5px 10px #d4d1d1;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.team_box div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.worker
{
    margin: 0 10px;
    width: 28%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.worker h2
{
    text-transform: uppercase !important;
}


/* ///////////////////////////////////////// */