.main_page
{
    height: 100vh;
    width: 100%;
    /* background: url(../../imgs/mainp.jpg); */
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    overflow-x: hidden !important;
    position: relative;
    /* background: #1da1f2; */

}


.SliderBanner_div
{
    width: 100vw !important;
}

.SliderBanner_div .main_txt
{
    width: 100% !important;
    display: flex !important;
}

.SliderBanner_div .main_txt div
{
    width: 50% !important;
    line-height: 50px;
}

.SliderBanner_div .main_txt img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.main_txt.active
{
    transition: .5s;
    /* transform: translateY(-30%) scale(0); */
    left: 0;
}

.main_txt .demoBtn
{
    width: 180px;
    padding: 8px 20px;
    font-size: 1.2em;
    border-radius: 5px !important;
    border: none;
    outline: none;
    color: #fff;
    margin: 30px 0 10px;
    text-align: center;
}



.main_txt h1
{
    font-size: 2.7em;
}

.main_txt h2
{
    font-weight: 400;
}

.main_txt a
{
    color: #fff;
}

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


.about_video
{
    height: 100vh;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* background: var(--000); */
    position: relative;
}






.about_video iframe
{
    border-radius: 10px;
}




/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */



.about_menu
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #fff;
}

.links
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 70px;
    width: 80%;
    height: 80%;
}

.links div
{
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #d4d1d1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    padding: 50px 10px;
}


.links div svg
{
    font-size: 5em;
    color: rgb(14, 140, 250);
}
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


.hamkorlar
{
    width: 100%;
    height: auto;
    /* background: #fff; */
    text-align: center;
    padding: 50px 30px;
}

.logos
{
    width: 100%;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos img
{
    width: 200px;
    height: 200px;
    object-fit: contain;
}




/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */



.team
{
    height: auto;
    /* background: #fff; */
    padding: 30px;
    text-align: center;
    color: #000;
    position: relative;
}

.team h1
{
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 2em;
    /* background: #1da1f2; */
    color: #fff;
    border-radius: 5px;
    width: 500px;
    /* box-shadow: 0 15px 100px 1px #1da0f286; */
}




.team_box
{
    display: grid;
    grid-template-columns: repeat(3,260px);
    align-items: flex-end;
    justify-content: center;
    place-items: center;
    padding: 10px;
    gap: 40px;
    height: auto;
    font-weight: 500;
    width: 100%;
    margin: auto;
}



.team_box .w_img
{
    width: 250px;
    height: 250px;
    /* box-shadow: 0 5px 10px #d4d1d1; */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.088) 10%, rgba(255,255,255,0) 100%);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.team_box div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.worker
{
    margin: 0 10px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #000;
    overflow: hidden;
    border-radius: 10px;
    z-index: 111;
    position: relative;
}

.worker h2
{
    text-transform: uppercase !important;
    font-size: 2em !important;
}


.worker_img
{
    width: 100%;
    height: 100%;
    
}


.worker_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.worker_img::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000006a;
}



.worker_info
{
    padding: 10px 15px;
    font-size: .8em;
    width: 100%;
    position: absolute;
    bottom: 30px;
    color: #fff;
    line-height: 22px;
}

.worker_info h3
{
    color: #fff !important;
}

/* ///////////////////////////////////////// */


.team_img
{
    width: 100%;
    height: 120vh;
    background: url(../../imgs/team_img.png);
    background-size: cover;
    background-position: center;
}


.telegram_link
{
    width: 90%;
    margin: 60px auto;
    height: 60vh;
    background: #00d179;
    /* transform: translateY(-60px); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    color: #fff;
}



.link_info h1
{
    font-size: 2.7em;
    width: 90%;
}




.link_img
{
    min-width: 310px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;
}

.link_info a
{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    /* background: #1da1f2; */
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    border-radius: 10px;
}

.link_info a svg
{
    font-size: 2em;
    margin-right: 20px;
}


.link_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.statistic_box
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    background: #1da1f2;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0 10px 100px 1px #1da0f292;
    margin-bottom: 70px;
}

.statistic_box div
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    color: #fff;
}

.statistic_box div h1
{
    font-size: 3em;
    margin-right: 10px;
}
.statistic_box div p
{
    font-size: 1em;
    width: 40%;
    color: #fff;
}

.slick-dots
{
    display: none !important;
}




@media (max-width: 780px) {
    .SliderBanner_div
    {
        background: #000;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
    }
    


    .statistic_box
    {
        height: auto;
        flex-direction: column;
        text-align: left !important;
        align-items: flex-start;
        margin-top: 20px;
    }
    
    .statistic_box div
    {
        justify-content: flex-start;
        height: 100px;
        padding: 20px;
        width: 100%;
        text-align: left !important;
    }


    .main_txt
    {
        flex-direction: column-reverse;
    }
    
    .SliderBanner_div .main_txt div
    {
        width: 100% !important;
        font-size: 1.2em;
        line-height: 40px !important;
    }


}

@media (max-width: 780px) {
    .team h1
    {
        width: 370px !important;
        padding: 10px 0;
        font-size: 1.8em !important;
    }

    .team_img
    {
        height: 40vh;
    }

    .telegram_link
    {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .link_img
    {
        min-width: 100%;
        border-radius: 10px;
        height: 30vh;
        margin-right: 0;
    }

    .link_info h1
    {
        font-size: 1.2em;
        margin: 20px 0;
    }

    .tel_link a
    {
        width: 100%;
        font-size: 1em;
    }
}

