.about_video_box
{
    display: flex;
    padding: 50px;
    margin-bottom: 50px;
}

.about_video_box div
{
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 10px; */
    color: #000;
}


.about_txt
{
    padding: 20px !important;
}

.about_txt a
{
    width: 100px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;    
}

.about_txt p
{
    padding: 10px 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.about_txt p svg
{
    margin-right: 10px;
    font-size: 1.5em;
}

.video
{
    width: 100% !important;
    height: 100% !important;
}

.about_video_box iframe
{
    width: 80% !important;
    height: 50vh !important;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

.div
{
    position: relative;
    overflow: inherit !important;
}

.about_video_box .div::before
{
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    /* background: #1da1f2a0; */
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: rotate(9.5deg) translate(-50%,-35%);
    z-index: -1;
    border-radius: 20px;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow:  rgba(56, 142, 254, 0.926) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.842) 0rem 0.0625rem 0.3125rem 0rem !important;
    border-radius: 10px !important;
    /* box-shadow: 0 10px 100px 1px #1da0f2a5; */
    
}

.about_video_box div 
{
    padding: 0;
}


.skills_box
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #000;
    gap: 20px;
    text-align: center;
    padding: 30px 100px;
    height: 60vh;
}

.skills_box .skill
{
    padding: 20px;
    display: grid;
    place-items: center;
    border: 1px solid #ddd;
    color: #000;
    border-radius: 20px;
    transition: .5s;
}

.skills_box .skill:hover
{
    box-shadow: 0 15px 100px 1px #1da0f24d;    
}

.skills_box .skill svg
{
    font-size: 6em;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 5px solid #fff;
    color: rgb(11, 133, 241);
    margin-bottom: 10px;
}





.skills_box .skill h1
{
    margin: 10px 0;
}

@media (max-width: 873px) {

    .about_video_box
    {
        flex-direction: column;
    }
    .about_video_box div
    {
        width: 100% !important;
    }

}
@media (max-width: 787px) {

    .skills_box
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color: #000;
        text-align: center;
        padding: 20px;
        height: auto;
    }
    

}
@media (max-width: 677px) {

    .skills_box
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        color: #000;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .about_video_box
    {
        padding: 5px;
    }

    .about_video_box iframe
    {
        width: 98% !important;
    }
    

}