.about_video_box
{
    display: flex;
    padding: 50px;
    margin-bottom: 50px;
}

.about_video_box div
{
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 10px; */
    color: #000;
}


.about_txt
{
    padding: 20px !important;
}

.about_txt a
{
    background: #1da1f2;
    width: 100px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;    
}

.about_txt p
{
    padding: 10px 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.about_txt p svg
{
    margin-right: 10px;
    font-size: 1.5em;
}

.video
{
    width: 100% !important;
    height: 100% !important;
}

.about_video_box iframe
{
    width: 80% !important;
    height: 50vh !important;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

.div
{
    position: relative;
    overflow: inherit !important;
}

.about_video_box .div::before
{
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background: #1da1f2a0;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: rotate(9.5deg) translate(-50%,-35%);
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0 10px 100px 1px #1da0f2a5;
    
}

.about_video_box div 
{
    padding: 0;
}


.skills_box
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #000;
    text-align: center;
    padding: 30px;
    height: 60vh;
}

.skills_box .skill
{
    padding: 20px;
    display: grid;
    place-items: center;
}

.skills_box .skill svg
{
    font-size: 5em;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 5px solid #1da1f2;
    margin-bottom: 10px;
}





.skills_box .skill h1
{
    margin: 10px 0;
}

@media (max-width: 873px) {

    .about_video_box
    {
        flex-direction: column;
    }
    .about_video_box div
    {
        width: 100%;
    }

}
@media (max-width: 787px) {

    .skills_box
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color: #000;
        text-align: center;
        padding: 20px;
        height: auto;
    }
    

}
@media (max-width: 677px) {

    .skills_box
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        color: #000;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .about_video_box
    {
        padding: 5px;
    }
    

}